DB_URL=

WEB_THREE_STORAGE=

MERKLE_TREE_DEPTH=

MONGODB_TEST_URL=mongodb://localhost:27017/test_daocoders

CRON_PORT = 

BLOCKFROST_URL = https://cardano-testnet.blockfrost.io/api/v0/txs/
BLOCKFROST_PROJECT_ID = 
BLOCKFROST_ApiKeyAuth = 


TANGO_BASE_URL=https://cardano-testnet.tangocrypto.com/{{APP_ID}}/v1/transactions/
TANGO_API_KEY=
TANGO_APP_ID=
TANGO_WEBHOOK_URL=https://cardano-testnet.tangocrypto.com/{{APP_ID}}/v1/webhooks
